# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://heippi:heippi@localhost:8000/heippi?schema=public"

# These variables are used to set the email service
EMAIL_SERVICE=gmail
EMAIL_TRANSPORTER=test@gmail.com
EMAIL_TRANSPORTER_PASSWORD=123456

# This URL will be used to get the confirmation code from the email the user got
# It's important to know that this will be parsed as a parameter, NOT as a
# query
USER_CONFIRMATION_CODE_URL=http://localhost:3000/user/activate/
